.footer {
  background-color: var(--accent-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
  width: 100%;
  .container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px;
  }
}

.footer__logo {
  display: inline-block;
  margin-bottom: 20px;

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923;
  letter-spacing: 0.03em;
}

.footer__logo--color-white {
  color: var(--primary-white-color);
}

.social-container__item + .social-container__item {
  margin-top: 9px;
}

.footer__text {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
}

.footer__list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__item {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--primary-white-color);
}

.social-container__title {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer {
  .social-links__link {
    background-color: rgba(255, 255, 255, 10%);
    &:hover,
    &:focus {
      background-color: var(--accent-color);
    }
  }
  .social-links__icon {
    fill: var(--primary-white-color);
  }
}

.mailing-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 570px;
}

.mailing-container__text {
  display: block;
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--primary-white-color);
}

.mailing-container__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.mailing-container__input {
  width: 358px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  background-color: var(--accent-background-color);

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}
