.hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.centred {
  margin-left: auto;
  margin-right: auto;
}

.flex {
  display: flex;
  align-items: center;
}

.inline-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section-title {
  color: var(--title-text-color);
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.button-sumbit {
  padding: 10px 28px;
}
